@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111313;
    --background2: #cfcfcf;
    --foreground2: #131616;
    --background3: #e9e9e9;
    --foreground3: #2d3131;
    --primary: #0ea5e9;
    --primary-foreground: #f8fafc;
  }

  .dark {
    --background: #111313;
    --foreground: #f8fafc;
    --background2: #131616;
    --foreground2: #cfcfcf;
    --background3: #2d3131;
    --foreground3: #ffffff;
    --primary: #0ea5e9;
    --primary-foreground: #f8fafc;
  }

  html {
    @apply bg-background text-foreground;
  }

  body {
    @apply bg-background text-foreground min-h-screen;
  }

  pre {
    @apply bg-background2 text-foreground2;
  }

  code {
    @apply font-mono;
  }
}
