@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111313;
    --background2: #e2e2e2;
    --foreground2: #0c0e0e;
    --background3: #2d3131;
    --foreground3: #ffffff;
    --primary: #0ea5e9;
    --primary-foreground: #f8fafc;
  }

  .dark {
    --background: #111313;
    --foreground: #f8fafc;
    --background2: #0c0e0e;
    --foreground2: #e2e2e2;
    --background3: #2d3131;
    --foreground3: #ffffff;
    --primary: #0ea5e9;
    --primary-foreground: #f8fafc;
  }

  html {
    @apply bg-background text-foreground;
  }

  body {
    @apply bg-background text-foreground min-h-screen;
  }

  pre {
    @apply bg-background2 text-foreground2;
  }

  code {
    @apply font-mono;
  }
}
